@tailwind base;

.blue-btn {
  @apply bg-indigo-500 border-indigo-500 !important;
}
.blue-btn:hover,
.blue-btn:focus {
  @apply bg-indigo-400 border-indigo-400 !important;
}
.blue-btn:active {
  @apply bg-indigo-600 border-indigo-600 !important;
}

@tailwind components;

@tailwind utilities;

.ant-btn,
.ant-tag {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.ant-form-item.no-label-padding > .ant-form-item-label {
  padding: 0 !important;
}

.ant-layout-sider-children {
  overflow: hidden;
}

.ant-spin-xl .ant-spin-dot i {
  width: 24px;
  height: 24px;
}

.ant-spin-xl .ant-spin-dot {
  font-size: 64px;
}

.min-h-content {
  min-height: min-content !important;
}

.min-h-50-vh {
  min-height: 50vh !important;
}
